.toDo{
    background-color: var(--background);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 680px;
    height: 800px;
    padding: 30px;
    overflow: hidden;
    border-radius: var(--big-border-radius);
    font-family: 'Roboto';
}

.title{
    color: white;
    font-size: var(--title-text);
    font-weight: bold;
    margin-top: -50px;
}

.contentContainer{
    width: 100%;
    height: 575px;
    overflow: hidden;
    background-color: var(--light-background);
    border-radius: var(--big-border-radius);
    box-shadow: inset 0 0 0  var(--border-width)  var(--border-color);
}